<div>
  <span class="h1" (click)="consoleProjects()">
  List of first <span *ngIf="projects">{{projects.length}}</span> Projects
  </span>
  <button (click)="toggleIsCreatingProject()" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>

<div *ngIf="isCreatingProject">
  <project-edit (clickedSave)="clickedSave($event)"></project-edit>
</div>

<div *ngFor="let project of projects" (click)="gotoDetail(project._id)" class="well">
  {{project.name}} at {{project.difficulty}} difficulty. Currently has {{project.people_on_project.length}} people on this project.
</div>
